@media only screen and (max-width: 992px){
  nav .brand-logo {
      left: 5%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }

  .logo {
    width: 100%;
    height: auto;
}

.logo2 {
    width: 53%;
    margin-top: 25%;
}

.logo1 {
    width: 62%;
    margin-top: 25%;
}

}
